---

import '../../../styles/global.css';
import Navigation from '../../../components/navigation.astro'
import ContextSectionFooter from '../../../components/context-section-footer.astro';
import PageWrapper from '../../../components/page-wrapper.astro';
import ContextSection from '../../../components/context-section.astro';
import BackButton from '../../../components/back-button.astro';
import { Image } from 'astro:assets';

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths () {
    const projects = await getCollection ('projects');
    const allTags = [...new Set(projects.flatMap(p => p.data.tags))]
    return allTags.map (tag => ({
    params: { tag },
    props:  {
    projects: projects.filter(p =>p.data.tags.includes(tag)).sort((a, b) => new Date(b.data.sortDate).getTime() - new Date(a.data.sortDate).getTime())
        
    }
    }));
}

const { tag }= Astro.params;
const { projects } = Astro.props;

const pageTitle = tag;

const tagDescriptions : Record<string, string> = {
  "books": "Every book in this category has been painstakingly writted, editd, designed, and published by me",
  "objects": "Objects often start out as digital files but find thier way to the physical world.",
  "paintings": "I didn't plan on liking painting as much as I do, it just kinda...happened. Either way, I love this shit. And I plan onpainting as many things as I can",

}

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>{pageTitle}</h2>
	<hr>
    {tagDescriptions[pageTitle] && <p>{tagDescriptions[pageTitle]}</p>} {/* Tells this <p> element to render the text associate with each tag */}
	<p class="note"> * Explore {projects.length} entires </p>
    </ContextSection>

    <ContextSection>

    <div class="all-compendium-project-entries">
        {projects.map((project, index) => (
            <div class="compendium-project-entry"> 

                <a href={`/project-archive/${project.slug}`}>
                    <Image
                        src={project.data.coverImage}
                        alt={project.data.title}
                        loading={index === 0 ? "eager" : "lazy"} />    
                </a>

                <div class="image-context">
                    <div class="date-details"> 
                        <span> {project.data.date} </span>
                        <span> / </span>
                        <span> No.{project.data.id} </span>
                        <span> / </span>
                        <span> {project.data.displayTag} </span>
                    </div>
                    <span class="compendium-project-title"> {project.data.title} </span>
                </div>

            </div>
        ))}
    </div>

    <BackButton/>
	</ContextSection>
	<ContextSectionFooter/>
	</PageWrapper >
	</body>





<style>

    .filter-and-projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    }

    .project-tag-filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    }

    .compendium-project-entry img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    }

    .compendium-project-entry img:hover {
    filter: brightness(0.75);
    }


</style>