---

import PageWrapper from '../../components/page-wrapper.astro';
import ContextSection from '../../components/context-section.astro';
import Navigation from '../../components/navigation.astro';
import ContextSectionFooter from '../../components/context-section-footer.astro';
import BackButton from '../../components/back-button.astro';

import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';


export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{project.data.title}</title>
          <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
     </head>

     <body>
          <PageWrapper>
               <Navigation />
               <ContextSection>
                    <div class="image-context remove-side-padding">
                         <div class="date-details"> 
                              <span> {project.data.date} </span>
                              <span> / </span>
                              <span> No.{project.data.id} </span>
                              <span> / </span>
                              <span> {project.data.displayTag} </span>
                         </div>
                         <span class="compendium-project-title"> {project.data.title} </span>
                    </div>
               <hr>
                <Content/> 
                {project.data.images.map((image) => (
                <Image src={image} alt={project.data.title} />
                ))}
                <BackButton/>
               </ContextSection>
               <ContextSectionFooter/>
          </PageWrapper>
     </body>
</html>



<style>

    img {
     width: 100%;
     height: auto;
     border-radius: 10px;
     outline: 1px solid rgba(0, 0, 0, 0.1);
     outline-offset: -1px;
    }
     
</style>