---
const pageTitle = "About";

const aboutMiddleGround = {
    location: "Greenville, SC",
    whatIs: "Heirloom design studio",
    forProduct: "digital essentalists",
    forService: "people making a difference",
    owner: "Mikey Hayes",
    foundedDate: "2019",
};

import '../styles/global.css';
import Navigation from '../components/navigation.astro'


const links = ["Bio", "CV", "What/Why", "Equipment", "snippets", "Reccomended Reading",];

const linkColor = "#2D2D2D"; //Darkest Gray
const linkWeight = "700";
const linkCase = "uppercase";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{linkColor, linkWeight, linkCase}}>
            h1 {
            color: purple;
            font-size: 4rem;
         }

         .links {
            color:var(--linkColor);
            font-weight: var(--linkWeight);
            text-transform: var(--linkCase);
         }
    </style>
	</head>
	<body>
	    <Navigation />
        <main>
         <section class="About Context">
      <div class="container">
        <h1>{pageTitle}</h1>
        <hr>
        <p>What Middle Ground Made is has always changed. When I first started sharing work in {aboutMiddleGround.foundedDate} it wasn't anything. Middle Ground essentially started as a generic "bucket"
            for my creative work. In 2020 I called Middle Ground a "design shop" in 2021 after I release my first book I reframed Middle Ground as a "design and publishing" studio.
            Each change in perspective made Middle Ground more honest. Now though I think Middle Ground made is {aboutMiddleGround.whatIs}. I make products for {aboutMiddleGround.forProduct} and offer services to {aboutMiddleGround.forService}.
            I do all this from {aboutMiddleGround.location}. As a final note {aboutMiddleGround.owner} the founder and sole operator of Midde Ground Made.</p>
        <div>
            <ul>
            {links.map((link) => <li class="links">{link}</li>)}
        </ul>
     </div> 
      </div>
    </section>
  </main>
	</body>
</html>
