---

import '../styles/global.css';
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';


import type { CollectionEntry } from 'astro:content';
const entries: CollectionEntry<'compendium'>[] = (await getCollection('compendium')).sort((a, b) => b.data.id - a.data.id);

---



<div class="all-compendium-entries">

    {entries.map((entry, index) => (
        <div class="compendium-entry"> 
                <Image class="compendium-image"
                    src={entry.data.image}
                    alt={entry.data.title}
                    width={entry.data.image.width}
                    height={entry.data.image.height}
                    loading={index === 0 ? "eager" : "lazy"} />


            <div class="compendium-info">
                <div class="link-details">
                    <span> {entry.data.date} </span>
                    <span> / </span>
                     <span> {entry.data.id} </span>
                    </div>
                    <span class="compendium-project-title"> {entry.data.title} </span>
                    <h3>{entry.data.description} </h3>

                {/* CONDITIONAL LINKS (BELOW) */}
                    {(entry.data.openNote || entry.data.project) && (
                        <div class="compendium-links"> 
                            {entry.data.openNote && (
                                <a href= {entry.data.openNote} class="link-details"> Note</a>
                                )}
                                {entry.data.openNote && entry.data.project && (
                                <span class="link-details"> / </span>
                                )}
                                {entry.data.project && (
                                <a href= {entry.data.project} class="link-details"> Project</a>
                                )}
                        </div>
                    )}   
                </div>
            </div>
    ))}

</div>

<p>{entries.length}</p>


<style>

    .all-compendium-entries{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem
    }

    .compendium-entry{
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    border-radius: 10px;
    overflow: hidden;
    }

    .compendium-info{
    display: flex;
    flex-direction: column;
    gap: .50rem;
    width: 100%;
    padding: 2rem 1.5rem;
    }

    h3 {
    font-size: 1.05rem;
    font-weight: 400;
    }

    .compendium-links{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    gap: 1rem;
    padding-top: 1rem;
    width: 100%;
    }

    .link-details{
    font-size: .85rem

    }

    .link-details:hover{
    font-weight: 500;
    color: #2d2d2d;
    }

    .link-details.header:hover{
    pointer-events: none;
    font-weight: 300;
    }



    /* MOBILE VIEWPORT */

    @media (max-width: 768px) {


        .compendium-header-info{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
        }

        .all-snippets{
            display: flex;
            gap: 25px;
            flex-direction: column;
        }


    }

</style>
