---

import '../styles/global.css';
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';


import type { CollectionEntry } from 'astro:content';
const pics: CollectionEntry<'gallery'>[] = (await getCollection('gallery')).sort((a, b) => b.data.id - a.data.id);

---


<div class="all-compendium-entries">
    {pics.map((pic) => (
        <div class="gallery-entry">    
            <Image src={pic.data.image} alt={pic.data.date} class="bg-image" />                
            <span class="link-details gallery"> {pic.data.date} </span>
        </div>       
    ))}
</div>

<p>{pics.length}</p>



<style>
    
    .all-compendium-entries{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px
    }

    .gallery-entry{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    position: relative;
    aspect-ratio: 4 / 3;
    width: 100%;
    overflow: hidden;
    }

    .link-details.gallery{
    border-radius: 50px;
    width: auto;
    color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(1px);
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 7.5px 15px;
    z-index: 1;
    }


    .bg-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 10px;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    display: block;
    }

</style>


