---

import '../styles/global.css';
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';


import type { CollectionEntry } from 'astro:content';
const pics: CollectionEntry<'gallery'>[] = (await getCollection('gallery')).sort((a, b) => b.data.id - a.data.id);

---


<div class="image-collection-div">
    {pics.map((pic,index) => (
        <div class="image-entry">    
            <Image
                src={pic.data.image}
                alt={pic.data.date}
                width={pic.data.image.width}
                height={pic.data.image.height}
                loading={index === 0 ? "eager" : "lazy"}
                class="bg-image" />                
            <span class="link-details images hide-mobile"> {pic.data.date} </span>
        </div>       
    ))}
</div>

<p>{pics.length}</p>



<style>


</style>


