---

import PageWrapper from './page-wrapper.astro';
import ContextSection from './context-section.astro';
import Navigation from './navigation.astro';
import ContextSectionFooter from '../components/context-section-footer.astro';
import BackButton from './back-button.astro';

const { frontmatter } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
          <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
     </head>

     <body>
          <PageWrapper>
               <Navigation />
               <ContextSection>
                    <div class="image-context remove-side-padding border-bottom"> 
                         <span class="open-notes-title"> {frontmatter.title} </span>
                         <div class = "date-details">
                              <span> {frontmatter.date} </span>
                              <span> / </span>
                              <span> No.{frontmatter.number} </span>
                              {frontmatter.series && (
                                   <span> / </span>
                                   <span> {frontmatter.series} </span>
                              )}    
                         </div>
                    </div> 
                    <hr>
                    <slot /> 
                <BackButton/>
               </ContextSection>
               <ContextSectionFooter />
          </PageWrapper>
     </body>
</html>



<style>

     .content-links:hover{
     cursor: default;
     background: #FAFAFA;
     }
     
</style>