---

import PageWrapper from './page-wrapper.astro';
import ContextSection from './context-section.astro';
import Navigation from './navigation.astro';
import ContextSectionFooter from '../components/context-section-footer.astro';
import BackButton from './back-button.astro';

const { frontmatter } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
          <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
     </head>

     <body>
          <PageWrapper>
               <Navigation />
               <ContextSection>
                    <div class="content-links open-notes">
                         <span> {frontmatter.title} </span>
                         <div class="link-details">
                              <span class="link-details hide-mobile"> / </span>
                              <time> {frontmatter.date} </time>
                              <span> / </span>
                              <span> {frontmatter.number}</span>
                              {frontmatter.series && (
                                   <span> / </span>
                                   <span> {frontmatter.series} </span>
                              )}
                         </div>
                    </div>
                    <slot /> 
                <BackButton/>
               </ContextSection>
               <ContextSectionFooter />
          </PageWrapper>
     </body>
</html>



{/*

    <div class = "link-year">
        {posts2025.map((post: any) =>
            <a href={post.url} class="content-links open-notes">
                <span> {post.frontmatter.title} </span>
                <div class = "link-details">
                <span class="link-details hide-mobile"> / </span>
                <span> {post.frontmatter.date} </span>
                <span> / </span>
                <span> {post.frontmatter.number} </span>
                {post.frontmatter.series && (
                    <span class = "link-details"> / </span>
                    <span class = "link-details"> {post.frontmatter.series} </span>
                )}    
                </div>
            </a>
        )}  
    </div>


*/}


<style>

     .content-links:hover{
     cursor: default;
     background: #FAFAFA;
     }

     .content-links{
     gap: 7.5px
     }
     
</style>