---

import '../styles/global.css';
const allPosts = Object.values(import.meta.glob('../pages/open-notes-archive/*.md', { eager: true }));
const sorted = [...allPosts].sort((a: any, b: any) => b.frontmatter.entry - a.frontmatter.entry);
const posts2025 = sorted.filter((post: any) => post.frontmatter.year === 2025);
const posts2026 = sorted.filter((post: any) => post.frontmatter.year === 2026);

---

<div class="all-links">

    <div class="link-year">
        {posts2026.map((post: any) =>
            <div class="hover-box">
                <a href={post.url} class="image-context remove-side-padding border-bottom">  
                    <span class="open-notes-title"> {post.frontmatter.title} </span>
                    <div class = "date-details">
                        <span> {post.frontmatter.date} </span>
                        <span> / </span>
                        <span> No.{post.frontmatter.number} </span>
                            {post.frontmatter.series && (
                                <span> / </span>
                                <span> {post.frontmatter.series} </span>
                            )}    
                    </div>
                </a>
            </div>
        )}  
    </div>

    <div class = "link-year">
        {posts2025.map((post: any) =>
            <div class="hover-box">
                <a href={post.url} class="image-context remove-side-padding border-bottom">  
                    <span class="open-notes-title"> {post.frontmatter.title} </span>
                    <div class = "date-details">
                        <span> {post.frontmatter.date} </span>
                        <span> / </span>
                        <span> No.{post.frontmatter.number} </span>
                            {post.frontmatter.series && (
                                <span> / </span>
                                <span> {post.frontmatter.series} </span>
                            )}    
                    </div>
                </a>
            </div>
        )}  
    </div>

</div>



<style>



.all-links{
display: flex;
gap: 20px;
flex-direction: column;
}

.link-year{
display: flex;
gap: 20px;
flex-direction: column;
}



/* MOBILE VIEWPORT */

@media (max-width: 768px) {
    .link-year{
        gap: 20px;
    }

    .all-links{
        gap: 30px;
    }




}



</style>
