---

import '../styles/global.css';
const allPosts = Object.values(import.meta.glob('../pages/open-notes-archive/*.md', { eager: true }));
const sorted = [...allPosts].sort((a: any, b: any) => b.frontmatter.entry - a.frontmatter.entry);
const posts2025 = sorted.filter((post: any) => post.frontmatter.year === 2025);
const posts2026 = sorted.filter((post: any) => post.frontmatter.year === 2026);

---

<div class="all-items">

    <div class="link-year">
        {posts2026.map((post: any) =>
            <a href={post.url} class="hover-box">  
                <div class="open-notes-context">
                    <span class="open-notes-title"> {post.frontmatter.title} </span>
                    <div class = "date-details">
                        <span> {post.frontmatter.date} </span>
                        <span> / </span>
                        <span> No.{post.frontmatter.number} </span>
                            {post.frontmatter.series && (
                                <span> / </span>
                                <span> {post.frontmatter.series} </span>
                            )}    
                    </div>
                </div>
            </a>
        )}  
    </div>

    <div class="link-year">
        {posts2025.map((post: any) =>
            <a href={post.url} class="hover-box">  
                <div class="open-notes-context">
                    <span class="open-notes-title"> {post.frontmatter.title} </span>
                    <div class = "date-details">
                        <span> {post.frontmatter.date} </span>
                        <span> / </span>
                        <span> No.{post.frontmatter.number} </span>
                            {post.frontmatter.series && (
                                <span> / </span>
                                <span> {post.frontmatter.series} </span>
                            )}    
                    </div>
                </div>
            </a>
        )}  
    </div>

</div>



<style>



</style>
