---

import '../styles/global.css';
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';


import type { CollectionEntry } from 'astro:content';
const additions: CollectionEntry<'projects'>[] = (await getCollection('projects')).sort((a, b) => b.data.id - a.data.id);

---

<div class="all-project-additions">
    {additions.map((project) => (
        <div class="project-entry"> 
            {/* the div below renders the unconditonal header info */}
            <div class="project-header-info">
                <div class="content-bubble">
                    <span> {project.data.title} </span>
                    <span class="link-details header"> / </span>
                    <span class="link-details header"> {project.data.date} </span>
                    <span class="link-details header"> / </span>
                    <span class="link-details header"> {project.data.id} </span>
                </div>
                    {/* these tags are not conditionally rendered, but the / is. If an entry only has 
                    one tag, it will not render. These appear on another bubble to the right */}
                    <span class="content-links header"> {project.data.tags.map((tag, index) => (
                        <span>
                        <span> {tag} </span>
                        {index !== project.data.tags.length - 1 ? <span> / </span> : null}
                        </span>
                        ))}
                    </span>
                </div>
                    <a href={`/project-archive/${project.slug}`}>
                    <Image src={project.data.coverImage} alt={project.data.title} />    
                    </a>
        </div>
    ))}
</div>






<style>
    .all-project-additions{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px
    }

    .project-entry{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8
    }

    .project-entry img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: filter 0.3s ease;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    }

    .project-entry img:hover {
    filter: brightness(0.85);
    }

    h3 {
    font-size: .90rem;
    font-weight: 400;
    }

    .project-header-info{
    display: inline-flex;
    gap: 10px;
    width: fit-content;
    }

    .link-details{
    color: #2d2d2d;
    }

    .link-details:hover{
    font-weight: 500;
    color: #2d2d2d;
    }

    .link-details.header:hover{
    pointer-events: none;
    font-weight: 300;
    }

    .project-tag-filters{
    display: inline-flex;
    gap: 10px;
    width: fit-content;
    }

    .content-links{
    text-transform: capitalize;
    }

    hr{
        margin: 10px;
    }

    .content-links.header:hover{
     cursor: default;
     background: #FAFAFA;
     text-transform: capitalize;
     }

</style>