---

import '../styles/global.css';
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';


import type { CollectionEntry } from 'astro:content';
const additions: CollectionEntry<'projects'>[] = (await getCollection('projects')).sort((a, b) => b.data.id - a.data.id);


const allProjects = await getCollection('projects');
const tags = [...new Set(allProjects.flatMap(p => p.data.tags ?? []))].sort();

---


<div class="filter-and-projects">

<div class="project-tag-filters"> 
    {tags.map(tag => (
    <a href ={`/project-archive/type/${tag}`} class="filter-by-tag">{tag}</a>
    ))}
</div>

<hr>

<div class="all-compendium-project-entries">
    {additions.map((project, index) => (
        <div class="compendium-project-entry"> 

                <a href={`/project-archive/${project.slug}`}>
                <Image 
                    src={project.data.coverImage}
                    alt={project.data.title}
                    loading={index === 0 ? "eager" : "lazy"} />    
                </a>

        <div class="context-and-links">
            <div class="image-context">
                <div class="date-details"> 
                    <span> {project.data.date} </span>
                    <span> / </span>
                    <span> No.{project.data.id} </span>
                    <span> / </span>
                    <span> {project.data.displayTag} </span>
                </div>
                <span class="compendium-project-title"> {project.data.title} </span>
            </div>
        </div>
        </div>
    ))}
</div>


<style>

    .filter-and-projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    }

    .project-tag-filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    }

    .compendium-project-entry img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    }

    .compendium-project-entry img:hover {
    filter: brightness(0.75);
    }


</style>
