---

import '../styles/global.css';
import resources from '../data/resources-data';

---


<div class="all-map-list-items">
    {resources.map((resource) => (
        <div>
            {resource.text && (
                <div>
                <div class="text-list-item">
                    <a href={resource.link} target="_blank" rel="noopener noreferrer" class="list-item-title"> {resource.text} </a>
                    <div class="list-item-details">
                        <span> / </span>            
                        <span> {resource.number} </span>
                    </div> 
                </div>
                {resource.quote && (
                <p class="resources-quote"> {resource.quote} </p> 
                )}    
                </div>
                )}

            {/*conditional rendering set up. The stuff above renders for a link, the stuff below renders for no link
            this is decided in the js data collection. has a lot to do with hover states, kwho knows if it was worth it*/}

            {!resource.text && (
                <div>
                    <div class="text-list-item">
                        <span class="list-item-title no-link"> {resource.textNoLink}</span>
                        <div class="list-item-details">
                            <span> / </span>
                            <span> {resource.number} </span>
                        </div>
                    </div>
                    {resource.quote && (
                    <p class="resources-quote"> {resource.quote} </p>
                    )}
                </div>
                )}      
        </div>  
    ))}
</div>


<style>

    {/* stays, specific paragraph styling  */}
    .resources-quote{
    font-weight: 300;
    }

    {/* stays, specific link styling  */}
    a {
    text-decoration: none;
    color: inherit;
    }

    {/* stays, specific paragraph styling  */}
    .resource-text-link{
    font-family: "Atkinson Hyperlegible Next";
    color: black;
    font-weight: 300;
    text-decoration: none;
    font-size: .90rem;
    }



</style>

