---

import '../styles/global.css';
import stacks from '../data/stacks-data.js';
const apparel = stacks.filter((entry) => entry.type === "apparel");
const objects = stacks.filter((entry) => entry.type === "object");
const books = stacks.filter((entry) => entry.type === "book");


{/* types: apparel, objects, books */}

---

<div class="items-wrapper">

<section id=apparel class="all-map-list-items">
    <span class="list-item-title large"> Things you can wear </span>
    <hr>
    {apparel.map((item) => (
        <div>
            <div class="text-list-item">
                <a href={item.link} target="_blank" rel="noopener noreferrer" class="list-item-title"> {item.title} </a>
                <div class="list-item-details">
                    <span> / </span>            
                    <span> {item.type} </span>
                </div>
            </div>
        </div>
    ))}
    </section>


<section id=apparel class="all-map-list-items">
    <span class="list-item-title large"> Things you can use </span>
    <hr>
    {objects.map((item) => (
        <div>
            <div class="text-list-item">
                <a href={item.link} target="_blank" rel="noopener noreferrer" class="list-item-title"> {item.title} </a>
                <div class="list-item-details">
                    <span> / </span>            
                    <span> {item.type} </span>
                </div>
            </div>
        </div>
    ))}
    </section>


<section id=apparel class="all-map-list-items">
    <span class="list-item-title large"> Things you can read </span>
    <hr>
    {books.map((item) => (
        <div>
            <div class="text-list-item">
                <a href={item.link} target="_blank" rel="noopener noreferrer" class="list-item-title"> {item.title} </a>
                <div class="list-item-details">
                    <span> / </span>            
                    <span> {item.type} </span>
                </div>
            </div>
        </div>
    ))}
    </section>


</div>


{/* 
<div class="all-map-list-items">
    <div class="horizontal-header">
        <span class="list-item-title large"> Education </span>
        <span class="list-item-details large"> / </span>
        <span class="list-item-details large"> 2017 </span>
    </div>
    <hr>
    {itemsEdu.map((item) => (
        <div>
            <div class="text-list-item">
                <a href={item.link} target="_blank" rel="noopener noreferrer" class="list-item-title"> {item.title} </a>
                <div class="list-item-details">
                    <span> / </span>            
                    <span> {item.year} </span>
                </div> 
            </div>
            <p class="resources-quote"> {item.description} </p> 
        </div>
    ))}
</div> 
*/}



<style>

    .list-item-title.large{
    font-size: .95rem;
    color: #2d2d2d;
    font-weight: 500;

    }

    .list-item-title{
    font-weight: 400;
    }

    .list-item-title.large:hover{
    text-decoration: none;
    cursor: default;
    }

    .items-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    }

    .all-map-list-items:last-child {
    margin-bottom: 15px;
    }


    .all-map-list-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--line-gray);
    border-radius: 10px;
    padding: 20px;
    }

    a {
    text-decoration: none;
    color: inherit;
    }




</style>